@{
    ViewBag.Title = "Sobre nós";
}
<div class="Perfils">
    <h1>Equipe Fire Bolt</h1>
    <div class="rodrigo">
        <img src="~/imagens/RodrigoTani.jpeg" width="200" height="200" />
        <h4>Rodrigo Tani</h4>
        <h6>Me segue no Intagram: <a href="www.instagram.com/rodrigotanni">Rodrigotanni</a></h6>
        <h6>Se inscreva no meu Canal: <a href="www.youtube.com/rodrigotanni">RodrigoTani</a></h6>
    </div>
    <div class="rodrigo">
        <img src="~/imagens/suzana.jpg" width="200" height="200" />
        <h4>Suzana Sayori</h4>
        <h6>Me segue no Intagram: <a href="https://www.instagram.com/sayori_su">sayori_su</a></h6>

    </div>
    <div class="rodrigo">
        <img src="~/imagens/leo.jpg" width="200" height="200" />
        <h4>Leonardo Hiroshi</h4>
        <h6>Me segue no Intagram: <a href="https://www.instagram.com/leohiro_">leohiro_</a></h6>

    </div>
    <div class="rodrigo">
        <img src="~/imagens/kairo.jpg" width="200" height="200" />
        <h4>Kairo Sumida</h4>
        <h6>Meu Face: <a href="https://www.facebook.com/kairosumida">Kairo</a></h6>

    </div>
</div>